/* Start Local Setting */
:root {
  --mainColor: #ff4800;
  --subColor: #072446;
  --navColor: #fff;
  --fontColor: #666;
}

/* From 992px To 1199px */
@media (max-width: 1199px) {}

/* From 768px To 991 */
@media (max-width: 991.98px) {
  .navbar-nav {
    margin: 0;
    padding: 5px 0;
    align-items: flex-end;
    flex-direction: column !important;
    border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
  }

  .navbar-nav.ms-5 {
    margin: 0 !important;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }
}

/* From 501px To 767px */
@media (max-width: 767px) {
  .form form textarea {
    margin-bottom: 10px;
  }
}

/* From 400px To 500px */
@media (max-width: 576px) {}

/* From 0px To 450px */
@media (max-width: 450px) {
  card-body h5 {
    font-size: 4.5vw;
  }
}