/********** Main Roles **********/
:root {
  --mainColor: #ff4800;
  --subColor: #072446;
  --navColor: #fff;
  --fontColor: #666;
}

* {
  direction: rtl;
}

*::selection {
  color: var(--mainColor);
  background-color: var(--subColor);
}

body {
  padding-top: 61px;
  color: var(--fontColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar,
.form::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

body::-webkit-scrollbar-track,
.form::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb,
.form::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section {
  display: flex;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

/********** Main Classes **********/
.col, .row, .navbar, .container,
.container-fluid {
  direction: rtl;
}

.current-price {
  color: green;
  font-weight: bold;
}

.last-price {
  color: red;
  font-weight: bold;
  text-decoration: line-through;
}

.current-price::after,
.last-price::after {
  content: "جـ";
}

.hover {
  transition: transform 0.6s ease;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.05) translateZ(20px);
  -webkit-transform: scale(1.05) translateZ(20px);
  -moz-transform: scale(1.05) translateZ(20px);
  -ms-transform: scale(1.05) translateZ(20px);
  -o-transform: scale(1.05) translateZ(20px);
}

.slideshow {
  padding: 3px;
  display: block;
}

/********** Navbar **********/
.navbar {
  background-color: var(--subColor) !important;
}

.d-flex,
.navbar>.container,
.navbar>.container-fluid {
  flex-direction: row-reverse;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  color: var(--navColor);
  background-color: var(--mainColor);
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: var(--navColor);
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--mainColor);
}

.btn,
.btn:hover,
.btn:focus,
.btn a,
.btn a:hover,
.btn a:focus {
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--navColor);
  background-color: var(--mainColor) !important;
}

.search-bar {
  width: 30%;
}

.search-bar input,
.search-bar input:focus {
  font-weight: bold;
  color: var(--mainColor);
}

/********** Slogn Show **********/
.testi {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.testi::before {
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  background: linear-gradient(to right, var(--mainColor), var(--subColor), var(--mainColor));
}

.overlay {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}

.testi .carousel-inner {
  z-index: 10;
}

.testi .lead {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: var(--navColor);
}

.testi .lead span {
  font-size: 26px;
  color: var(--mainColor);
}

/********** Offers **********/
.offer .row .card {
  padding: 3px;
}

.card-body h5 {
  height: 48px;
  font-weight: bold;
  color: var(--mainColor);
}

.offer .row .card p {
  font-weight: bold;
}

/********** Slideshow **********/
.slideshow .img-fluid-2 {
  height: 400px;
}

.slideshow .img-fluid-3 {
  height: auto;
}

/********** Products **********/
.slideshow .carousel-inner-product {
  padding: 25px 0;
}

.button-box {
  padding-top: 50px;
  padding-bottom: 0;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  top: 70%;
  opacity: 1;
  font-size: 25px;
  padding: 10px 0;
  height: fit-content;
  color: var(--mainColor);
  background: rgba(7, 36, 70, 20%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(7, 36, 70, 100%);
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  opacity: 1;
  color: var(--mainColor);
}

.carousel-control-prev {
  left: 33%;
}

.carousel-control-next {
  right: 33%;
}

/********** Testimonials **********/
.testimonials .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonials .review .review-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials .review img {
  width: 60%;
  height: auto;
}

.testimonials .review h4 {
  color: var(--mainColor);
}

.testimonials .review .review-text {
  height: 75px;
}

.buy-now div {
  width: 35%;
}

.testimonials .btn a {
  width: 100%;
  display: inline-block;
  color: var(--navColor);
}

.testimonials .btn:hover a {
  color: var(--navColor);
}

/********** Products Card **********/
.products-cards .current-price,
.products-cards .last-price {
  font-weight: normal;
}

.hidden {
  display: none;
}

.item {
  height: 350px;
  overflow: hidden;
  padding-top: 10px;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.item.shoow {
  opacity: 1;
  height: auto;
}

/********** Promotes Section **********/
.promotes .card,
.promotes .card .box-img {
  padding: 3px;
}

.promotes .card .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.promotes .card .box-text {
  text-align: start;
}

.promotes .card .box-text h2,
.promotes .card .box-text h4 {
  color: var(--mainColor);
}

.promotes .card .box-text .card-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--fontColor);
}

.promotes .ul {
  justify-content: normal !important;
}

.promotes .card .box-text ul {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  color: var(--fontColor);
  list-style-type: disclosure-closed;
}

.promotes .card .box-text ul li::marker {
  color: var(--mainColor);
}

.promotes .card .box-text .card-text b {
  color: var(--subColor);
}

.promotes .card .box-text .card-text span {
  font-size: 18px;
}

/********** Gallery **********/
.gallery .carousel-inner .carousel-item img {
  width: 350px;
  height: 350px;
}

/********** Buy Now **********/
.buy-form p {
  font-weight: bold;
  color: var(--fontColor);
}

/********** Form **********/
.form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  position: fixed;
  overflow: scroll;
  padding: 65px 10px 20px;
  background-color: var(--navColor);
}

.visible {
  display: block;
}

.form form {
  padding: 10px;
  margin: 15px auto;
}

.form form input,
.form form label,
.form form select,
.form form textarea,
.form form button {
  width: 100%;
  border: none;
  height: 35px;
  margin: 5px auto;
  font-weight: bold;
  color: var(--subColor);
  background-color: var(--mainColor);
}

.form form input::placeholder,
.form form textarea::placeholder {
  color: var(--subColor);
}

.form form textarea {
  height: 95%;
}

.form form .row {
  margin: 5px auto;
}

.form form button {
  width: 30%;
}

.price-list {
  gap: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

/********** Footer **********/
.my-info {
  background-color: rgba(7, 36, 70, 90%);
}

.my-info h5 {
  margin: 10px auto;
  color: var(--mainColor);
}

.my-info-box {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
}

.my-info .my-info-box .slogn p {
  font-weight: bold;
  color: var(--navColor);
}

.my-info .my-info-box .icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-info .my-info-box .icons ul li {
  font-size: 20px;
  margin: 0 10px;
}

.copyright {
  color: var(--navColor);
  background-color: var(--subColor);
}

.copyright p {
  margin: 0;
  padding: 15px 0;
  font-weight: bold;
  text-align: center;
}

.copyright a {
  font-weight: bold;
  color: var(--mainColor);
  text-decoration: underline;
}